MONGODB_URI=mongodb://localhost:27017/customer_portal
#MONGODB_URI=mongodb+srv://sureshwts2_db_user:jfGbk3PmhgM7HOtw@portal.8v9gdpz.mongodb.net/?appName=portal
NEXTAUTH_SECRET=your-secret-key-change-this-in-production
NEXTAUTH_URL=http://localhost:3000



#mongodb+srv://sureshwts2_db_user:jfGbk3PmhgM7HOtw@portal.8v9gdpz.mongodb.net/


#sureshwts2_db_user
#jfGbk3PmhgM7HOtw



#CLOUDINARY_CLOUD_NAME=dorwdvo0y
#CLOUDINARY_API_KEY=586273192753295
#CLOUDINARY_API_SECRET=PxdTo_BR7UqJ5UqUTRTrMJOh9XY

#CLOUDINARY_URL=cloudinary://586273192753295:PxdTo_BR7UqJ5UqUTRTrMJOh9XY@dorwdvo0y